/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main config */
body {
  font-family: Helvetica;
  height: 100vh;
  font-size: 14px;
  color: rgb(0, 83, 83);
}


a {
  color: rgb(0, 83, 83);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* if the vw is bigger than 800px, consider these setings*/
@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

/* header items */
header {
  background-image: url("./../img/fundo_mapa_bw.png");
  background-size: auto 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  background-color: rgb(239, 239, 239);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  padding: 20px 40px;
  display: block;
  font-weight: bolder;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex; 
  justify-content: flex-end;
}

.site-title, 
.site-subtitle{
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
  font-size: 2em;
}

.seta {
  width: 100px;
  position: absolute;
  top: 90vh;
}


/* portfolio items */
.portfolio {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-portfolio {
  width: 180px;
  height: 180px;
}